html,body {
  background-color: darkgrey;
  color:white;
}

#header{
    background-size: cover;
    background-position-y: 40%;
    color:white;
    background-color:darkgrey;
    position:relative !important;
}

#header h1{
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}

.btn {
    background-color:#dd6422;
}

#clear-history {
    width: 100%;
}

.card-body,.card, .forecast {
    background-color:#dd6422;
}

.history-bg{
    background-color: #17a2b8 !important;
    cursor: pointer;
}